!/addons/*/.gitkeep
/addons/*/
net_stats_per_frame.txt
addonlist.txt
bin/tier0.*
bin/vaudio_speex.*
*.id0
*.id1
*.id2
*.id3
*.idb
*.idc
*.i64
*.opus
*.wav
server.vdf
config/*/
cfg/banned_ip.cfg
cfg/banned_user.cfg
materials/vgui/addons/*/
screenshots/*
.vscode/*

sound
sound_xma
bin_delta
